.cart-container {
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cart-container {
    padding: 2rem 5rem 2rem 5rem;
  }

  .title-container {
    margin-bottom: 1rem;
  }
} 