.cart-totals-container {
  text-align: right;
  align-self: flex-end;
}

.clear-cart-btn {
  padding: .5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 700;
  border: .1rem solid var(--mainYellow);
  color: var(--mainYellow);
  border-radius: .5rem;
  transition: all .2s linear;
}

.clear-cart-btn:hover {
  background: var(--mainYellow);
  color: var(--mainWhite);
}

.cart-totals-text {
  font-size: 1.2rem;
}

@media only screen and (min-width: 992px) {
  .cart-totals-container {
    margin: 2rem 0;
  }
}