.product-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  background: white;
  border: .1rem solid var(--lightPink);
  transition: all 1s linear;
}
.img-container {
  overflow: hidden;
  position: relative;
}

.product-img {
  width: auto;
  padding: 1.5rem;
  max-height: 17rem;
  margin-bottom: 2rem;
  transition: all 2s linear;
}

.product-img:hover {
  transform: scale(1.1);
}

.add-to-cart-btn {
  right: 0;
  bottom: 0;
  padding: .5rem;  
  background: none;
  font-size: 1.5rem;
  position: absolute;
  margin-bottom: 1rem;
  color: var(--mainDark);
  border-radius: .5rem 0 0 0;
  transition: all .2s linear;
}

.add-to-cart-btn:hover {
  background: var(--mainYellow);
}

.add-to-cart-btn p {
  font-size: 1rem;
}

.product-title {
  margin-bottom: .5rem;
}

.product-price {
  margin-bottom: .5rem;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .add-to-cart-btn {   
    transform: translate(100%, 100%);
  }
  
  .img-container:hover .add-to-cart-btn {
    transform: translate(0, 0);
  }
} 