.navbar {
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  position: fixed;
  padding: .5rem 1rem;
  background: rgba(255, 255, 255, 0.9);
  align-items: center;
  justify-content: space-between;
  border-bottom: .1rem solid var(--lightPink);
}

.logo-link,
.products-link,
.cart-link {
  width: calc(100% / 3);
}

.logo-link {
  text-align: left;
}

.products-link {
  text-align: center;
}

.cart-link {
  text-align: right;
}

.navbar-logo {
  display: none;
}

.navbar-logo-mini {
  display: block;
}

.navbar-btn {
  font-size: .9rem;
  font-weight: 700;
  font-family: 'Comic Neue', cursive;  
  letter-spacing: .1rem;
  color: var(--mainPink);  
  transition: all .2s linear;
}

.navbar-btn:hover {
  color: var(--mainDark);
}

.navbar-btn i {
  margin-right: .5rem;
}

/* RESPONSIVE DESIGN */
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {   
  .navbar-logo-mini {
    display: none;
  }

  .navbar-logo {
    display: block;
  }
}
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}  

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}