:root {
  --mainPink: #d17faf;
  --lightPink: #ee9bbdd7;
  --mainWhite: #f3f3f3;
  --mainDark: #ac1973;
  --mainYellow: #ffca1daf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  color: var(--mainDark);
}

body {
  font-family: "Oswald", sans-serif;
  background: var(--mainWhite);
  color: var(--mainDark);
}

.text-title {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-pink {
  color: var(--mainPink);
}

.text-bright {
  color: var(--lightPink);
}

.btn-black {
  margin: 0 .5rem 1rem;
  padding: .5rem .7rem .5rem .7rem;
  font-size: .8rem;
  font-weight: 700;
  color: var(--mainDark);
  border: .1rem solid var(--mainDark);
  cursor: pointer;;
}

.btn-black:hover {
  background: var(--mainDark);
  color: var(--mainWhite);
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
  margin-bottom: .5rem;
}